<!-- 'HTML-style' HTML5 -->
<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"></link>
    <Title> List of Guests Entry</Title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
//        onload(function(){
//            $("#form2").hide();
//        });
//
//        // jQuery methods go here...
//        $("#add_comment").click(function(){
//            $("#form2").show();
//        });

        $('#add').click( function() {
            var Description = $('#comment_box').val();
            if($("#comment_box").val() == '') {
                $('#alert').html("<strong>Warning!</strong> You left the comment empty!");
                $('#alert').fadeIn().delay(1000).fadeOut();
                return false;
            }
            $('#comments').prepend("<div><b>" + Description + "</b></div>");
            $('#form2')[0].reset();
            var comments = $('#comments').html();
            sessionStorage.setItem('comments', comments);
            return false;
        });

        if(sessionStorage.getItem('comments')) {
            $('#comments').html(sessionStorage.getItem('comments'));
        }

        $('#clear').click( function() {
            window.sessionStorage.clear();
            location.reload();
            return false;
        });
    });

    </script>
</head>
<body>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">List of Guests Entry</div>
        <div class="panel-body">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Comment</th>
                    <th>Reply Comments</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                <tr th:each="entry: ${entries}">
                    <td th:text="${entry.name}"></td>
                    <td th:text="${entry.email}"></td>
                    <td th:text="${entry.comment}"></td>
                    <td>
                        <form id="form2" action="#" method="POST"><textarea id="comment_box" name="description"></textarea><input id="add" type="submit" value="Add"></input><button id="clear">Clear All</button></form>
                        <div id="alert"></div>
                        <hr></hr>
                        <h4 style="border-bottom: medium;">Replies</h4>
                        <hr></hr>
                         <div id="comments"></div>
                    </td>
                </tr>
                </tr>
                </tbody>
            </table>
            <a class="btn btn-default" th:href="@{/form}">Add a new Entry</a>
        </div>
        </div>
    </div>


</body>
</html>